<div class="row">
    <div class="col-xs-12">
      <p>Add new attacker or defender!</p>
      <label>Girl Name</label>
      <!-- <input type="text" class="form-control" [(ngModel)]="name"> -->
      <input 
        type="text" 
        class="form-control" 
        #girlNameInput>
      <label>Girl Description</label>
      <!-- <input type="text" class="form-control" [(ngModel)]="description">  -->
      <input 
        type="text" 
        class="form-control" 
        #girlDescriptionInput> 
      <br>
      <button
        class="btn btn-primary"
        (click)="onAddAttacker(girlNameInput)">Add Attacker</button>
      <button
        class="btn btn-primary"
        (click)="onAddDefender(girlNameInput)">Add Defender</button>
    </div>
  </div>
