<div class="container">
   <app-recruiter 
   (attackerAdded)="onAttackerAdded($event)"
   (defenderAdded)="onDefenderAdded($event)"></app-recruiter>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <app-gladiatrix *ngFor="let girl of girls"
        [girlInstance]="girl">
        <p>
          <strong *ngIf="girl.type === 'attacker'" style="color: red">{{ girl.description }}</strong>
          <em *ngIf="girl.type === 'defender'">{{ girl.description }}</em>
        </p></app-gladiatrix>
        
      </div>
    </div>
  </div>
  